[Unit]
Description="BWRGW"
After=rethos.service
Requires=rethos.service

[Service]
Restart=always
RestartSec=10
ExecStart=/firmware/brgw

[Install]
WantedBy=multi-user.target
