[Unit]
Description="BWRGW"
After=rethos.service
Requires=rethos.service
After=ragent.service
Requires=ragent.service

[Service]
Restart=always
RestartSec=10
EnvironmentFile=/config/config.ini
ExecStart=/firmware/brgw

[Install]
WantedBy=multi-user.target
