[Unit]
Description="BW2 Agent"
After=bw2.service
Requires=bw2.service
After=rethos.service
Requires=rethos.service

[Service]
Restart=always
RestartSec=10
StartLimitAction=reboot-force
EnvironmentFile=/config/config.ini
ExecStart=/merged/firmware/brgw

[Install]
WantedBy=multi-user.target
