[Unit]
Description="BW2 Agent"
After=mfs.service
Requires=mfs.service
After=prepwan.service
Requires=prepwan.service
OnFailure=bw2_nap.service

[Service]
Restart=always
RestartSec=10
StartLimitIntervalSec=0
EnvironmentFile=/config/config.ini
ExecStartPre=/firmware/bw2_prep.sh
ExecStart=/firmware/bw2 router --conf /merged/router/bw2.ini


[Install]
WantedBy=multi-user.target
