[Unit]
Description="Merged File System"
After=dev-sda.device
Requires=dev-sda.device

[Service]
Type=oneshot
RemainAfterExit=yes
StartLimitAction=reboot-force
ExecStart=/opt/mfs.sh
