[Unit]
Description="Prep interfaces"
After=mfs.service
Requires=mfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/firmware/prep_ifaces.sh

[Install]
WantedBy=multi-user.target
