[Unit]
Description="Prep interfaces"

[Service]
Type=oneshot
RemainAfterExit=yes
StartLimitAction=reboot-force
ExecStart=/merged/firmware/prep_ifaces.sh

[Install]
WantedBy=multi-user.target
