[Unit]
Description="REthos"
After=prepifaces.service
Requires=prepifaces.service

[Service]
Restart=always
RestartSec=10
ExecStart=/firmware/rethos tap0 /dev/ttyAMA0 921600

[Install]
WantedBy=multi-user.target
