[Unit]
Description="UHCPd"
After=prepifaces.service
Requires=prepifaces.service

[Service]
Restart=always
RestartSec=10
ExecStart=/merged/firmware/uhcpd tap0 2001:410::/48

[Install]
WantedBy=multi-user.target
